<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/site.css">
    <link rel="stylesheet" href="/assets/code.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
</head>
<body>
    <nav class="topbar">
        <a href="/"><img class="logo" src="/assets/wordmark-web.png" height="75"></a>
        <div class="navlinks">
            <a class="navlink" href="/">Home</a>
            <a class="navlink" href="/about">About</a>
            <a class="navlink" href="/blog">Blog</a>
            <a class="navlink" href="/projects">Projects</a>
            <a class="navlink" href="/join">Join Us</a>
            <a class="navlink" href="/contact">Contact</a>
        </div>
    </nav>
<main class="nav-container">
    {{ content }}
</main>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92787920-1', 'auto');
  ga('send', 'pageview');

</script></body>
</html>
