<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/site.css">
    <link rel="stylesheet" href="/assets/code.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
</head>
<body>
    <nav class="topbar">
        <a href="/"><img class="logo" src="/assets/wordmark-web.png" height="75"></a>
        <div class="navlinks">
            <a class="navlink" href="/">Home</a>
            <a class="navlink" href="/about">About</a>
            <a class="navlink" href="/blog">Blog</a>
            <a class="navlink" href="/projects">Projects</a>
            <a class="navlink" href="/join">Join Us</a>
            <a class="navlink" href="/contact">Contact</a>
        </div>
    </nav>
<main class="nav-container">
    {{ content }}
</main>
</body>
</html>
